@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');


.bio {
    margin: 3rem;
    text-align: center;
}

.bio h1 {
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
}